form input {
    display: block;
}

form input[type=checkbox] {
    display: inline-block;
    height: 18px;
}

label {
    font-size: 14px;
}

p {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 14px;
}